<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

## popup.php
RewriteCond %{THE_REQUEST} /wp-content/plugins/imdb-link-transformer/inc/popup.php\?film=([^\s]+) [NC]
RewriteRule ^.+$ imdblt/film/%1/ [L,R,QSA]

## popup-imdb_movie.php
RewriteCond %{THE_REQUEST} /wp-content/plugins/imdb-link-transformer/inc/popup-imdb_movie.php\?film=([^\s]+) [NC]
RewriteRule ^.+$ imdblt/film/%1/ [L,R,QSA]

RewriteCond %{THE_REQUEST} /wp-content/plugins/imdb-link-transformer/inc/popup-imdb_movie.php\?mid=([^\s]+) [NC]
RewriteRule ^.+$ imdblt/film/%1/ [L,R,QSA]

RewriteCond %{THE_REQUEST} /wp-content/plugins/imdb-link-transformer/inc/popup-imdb_movie.php\?mid=([^\s]+)?&film=([^\s]+)&info=([^\s]+)? [NC]
RewriteRule ^.+$ imdblt/film/%2/ [L,R,QSA]

## popup-imdb_person.php
RewriteCond %{THE_REQUEST} /wp-content/plugins/imdb-link-transformer/inc/popup-imdb_person.php\?mid=([^\s]+) [NC]
RewriteRule ^.+$ imdblt/person/%1/ [L,R,QSA]

RewriteCond %{THE_REQUEST} /wp-content/plugins/imdb-link-transformer/inc/popup-imdb_person.php\?mid=([^\s]+)&film=([^\s]+)?&info=([^\s]+)? [NC]
RewriteRule ^.+$ imdblt/person/%1/ [L,R,QSA]

</IfModule>

